/*
 *  COLOURS
 *    Blue  - #00ffff
 *          - #33ffff (20% lighter)
 *          - #66ffff (40% lighter)
 *          - #99ffff (60% lighter)
 *    Pink  - #ff00de
 *          - #ff33ff (20% lighter)
 *          - #ff66ff (40% lighter)
 *          - #ff99ff (60% lighter)
 */


/* 
 * General styles
 */

html {
  font-size: 0.3rem;
  height: 100%;
}

body {
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Sarpanch', sans-serif;
  height: 100%;
  text-align: center;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 20.75em) {
  html {
    font-size: 0.5rem;
  }
}

@media (min-width: 25em) {
  html {
    font-size: 62.5%;
  }
}


/* Specific styles */

.container {
  margin: auto;
  max-width: 90%;
  padding: 3rem 0;
}

.heading {
  color: #99ffff;
  font-size: 5rem;
  margin-bottom: 3rem;
  text-shadow: 0 0 0.5rem #66ffff, 0 0 1rem #33ffff, 0 0 1.5rem #00ffff;
}

.calculator {
  border: 0.4rem solid #ff99ff;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 0.5rem #ff66ff, 0 0 1rem #ff33ff, 0 0 1.5rem #ff00de;
          box-shadow: 0 0 0.5rem #ff66ff, 0 0 1rem #ff33ff, 0 0 1.5rem #ff00de;
  margin: 0 auto;
  padding: 1rem;
  width: 36rem;
}

.screen {
  border: 0.4rem solid #99ffff;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 0.5rem #66ffff, 0 0 1rem #33ffff;
          box-shadow: 0 0 0.5rem #66ffff, 0 0 1rem #33ffff;
  margin: 1rem;
  padding: 1rem;
  text-align: right;
}

.screen-text {
  color: #ff66ff;
  font-size: 4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 0 0 0.5rem #ff66ff;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.key {
  -webkit-box-flex: 1;
          -ms-flex: 1 1 25%;
              flex: 1 1 25%;
  padding: 1rem;
  width: 25%;
}

.btn {
  background: none;
  border: 0.4rem solid #99ffff;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 0.5rem #66ffff, 0 0 1rem #33ffff;
          box-shadow: 0 0 0.5rem #66ffff, 0 0 1rem #33ffff;
  color: #99ffff;
  font-family: inherit;
  font-size: 2.4rem;
  outline: none;
  text-shadow: 0 0 0.5rem #66ffff;
  width: 100%;
}

.btn:active {
  background-color: #99ffff;
  color: #000;
  text-shadow: none;
}

.alt-btn {
  color: #ff66ff;
  text-shadow: 0 0 0.5rem #ff66ff;
}

.keys.left {
  width: 75%;
}

.keys.left .key {
  -webkit-box-flex: 1;
          -ms-flex: 1 1 33.33333%;
              flex: 1 1 33.33333%;
  width: 33.33333%;
}

.keys.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
}

.keys.right .key {
  width: 100%;
}

#zero-key {
  -webkit-box-flex: 1;
          -ms-flex: 1 1 66.66666%;
              flex: 1 1 66.66666%;
  width: 66.66666%;
}

#equals-key {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}