/*
  COLOURS
    blue  - #00ffff
          - #33ffff (20% lighter)
          - #66ffff (40% lighter)
          - #99ffff (60% lighter)
    pink  - #ff00de
          - #ff33ff (20% lighter)
          - #ff66ff (40% lighter)
          - #ff99ff (60% lighter)
*/


/* General styles */

html {
  font-size: 62.5%;
}

body {
  font-family: 'Sarpanch', sans-serif;
  background-color: #000;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  min-height: 100%;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}


/* Flex parents */

body,
.row,
#right-keys,
#equals-key {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}


/* Font sizes */

h1 {
  font-size: 5rem;
}

#result {
  font-size: 3.6rem;
}

#history {
  font-size: 1.8rem;
}

button {
  font-size: 2.4rem;
}


/* Colours */

h1,
#result,
button {
  color: #99ffff;
}

h1 {
  text-shadow: 0 0 0.5rem #66ffff, 0 0 1rem #33ffff, 0 0 1.5rem #00ffff;
}

#result,
button {
  text-shadow: 0 0 0.5rem #66ffff;
}

#history,
#ac,
#ce {
  color: #ff66ff;
  text-shadow: 0 0 0.5rem #ff66ff;
}

#keys button:active {
  color: #000;
  background-color: #99ffff;
  text-shadow: none;
}

#calculator {
  border-color: #ff99ff;
  box-shadow: 0 0 0.5rem #ff66ff, 0 0 1rem #ff33ff, 0 0 1.5rem #ff00de;
}

#screen,
button {
  border-color: #99ffff;
  box-shadow: 0 0 0.5rem #66ffff, 0 0 1rem #33ffff;
}


/* Borders */

#calculator,
#screen,
button {
  border-width: 0.4rem;
  border-style: solid;
  border-radius: 1rem;
}


/* Specific styles */

main {
  margin: 0 auto;
  padding: 1.5rem;
  max-width: 100%;
}

h1 {
  margin-bottom: 3rem;
}

#calculator {
  width: 36rem;
  margin: 0 auto;
  padding: 1rem;
}

#screen {
  padding: 1rem;
  text-align: right;
  margin: 1rem;
}

#history,
#result {
  overflow: hidden;
  text-overflow: ellipsis;
  direction: rtl;
}

#result {
  margin-bottom: 1rem;
}

.row {
  width: 100%;
}

.key {
  width: 25%;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 25%;
  flex: 1 1 25%;
  padding: 1rem;
}

button {
  width: 100%;
  font-family: inherit;
  outline: none;
  background: none;
}

#left-keys {
  width: 75%;
}

#left-keys .key {
  width: 33.33333%;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 33.33333%;
  flex: 1 1 33.33333%;
}

#left-keys #zero-key {
  width: 66.66666%;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 66.66666%;
  flex: 1 1 66.66666%;
}

#right-keys {
  width: 25%;
}

#right-keys .key {
  width: 100%;
}


/* Media queries */

@media (max-width: 25em) {
  html {
    font-size: 0.5rem;
  }
  #calculator {
    width: 100%;
  }
}

@media (max-width: 18.688em) {
  html {
    font-size: 0.3rem;
  }
}